

.header{
    height: 150px;
    background-color: #213945;
    color: #ffffff;
    padding: 6px 2%;
    ul{
        list-style: none;
        display: flex;
        li{
            padding: 5px;
        }
    }
}